Les fichiers <a href="https://capytale2.ac-paris.fr/web/sites/default/files/2024/02-27/17-28-14/listeLycee.csv">listeLycee.csv</a>, <a href="https://capytale2.ac-paris.fr/web/sites/default/files/2024/02-27/17-28-14/listeLyceeSpecialite.csv">listeLyceeSpecialite.csv</a> et <a href="https://capytale2.ac-paris.fr/web/sites/default/files/2024/02-27/17-28-14/listeCollege.csv">listeCollege.csv</a> sont attachés à ce NoteBook.

### On rappelle les instructions pour écrire et lire en CSV, une table sous forme de liste de dictionnaire

In [ ]:
import csv 

with  open("matable.csv","w")as sortie:
    objet=csv.DictWriter(sortie,['Nom','Grec','Maths','Philosophie'],delimiter=",") 
    objet.writeheader() 
    objet.writerows(table)

fichier=open("matable.csv",encoding='utf8',errors='ignore') 
table=list(csv.DictReader(fichier,delimiter=",")) 
fichier.close()
print(table)

On donne la fonction `affiche` qui permet d'afficher une table sous forme de liste de dictionnaire

In [ ]:
def affiche(tableau:list,a=0,b=0,numLigne=False) -> None:
    """Affichage d'un tableau"""
    if tableau==[]:
        print("Tableau Vide")
        return
    tab="\t\t"
    if a==0 and b==0:
        a=0
        b=len(tableau) 
    elif b==0:
        b=a
        a=0
    else:
        a=a-1
    if numLigne:
            print("ligne"+"\t",end="")
    for cle in tableau[0]:
        if len(str(cle))>=8:
            print(str(cle)+"\t",end="")
        else:
            print(str(cle)+tab,end="")
    for i in range(a,b):
        print() 
        if numLigne:
                print(str(i+1)+"\t",end="")
        for valeur in tableau[i].values():

            if len(str(valeur))>=8:
                print(str(valeur)+"\t",end="")
            else:
                print(str(valeur)+tab,end="")
    print()


!!! note Utilisation de `affiche`
+ `affiche(table)` affiche toutes les lignes.
+ `affiche(table,i,j)` affiche les lignes i inclus  à j inclus.
+ `affiche(table,i,j,True)` affiche les lignes i à j et les numéros de ligne.
!!!

# Exercice 1 

Ouvrir Les fichiers  <a href="https://capytale2.ac-paris.fr/web/sites/default/files/2024/02-27/17-28-14/listeLycee.csv">listeLycee.csv</a>, <a href="https://capytale2.ac-paris.fr/web/sites/default/files/2024/02-27/17-28-14/listeLyceeSpecialite.csv">listeLyceeSpecialite.csv</a> et <a href="https://capytale2.ac-paris.fr/web/sites/default/files/2024/02-27/17-28-14/listeCollege.csv">listeCollege.csv</a> et mettre les tableaux resultats sous forme de liste de dictionnaires. la virgule est le délémiteur.

On appellera les tableaux respectif `TableauLycee`, `TableauSpecialite` et `TableauCollege`

## Dans le cas où vous n'arrivez pas à répondre à la question précédente vous pouvez exécuter la cellule suivante pour continuer. Cela charge les tableaux sous le bon format.

In [ ]:
from _creationDeTableauGroupeA import TableauLycee,TableauSpecialite,TableauCollege

# Exercice 2 
Afficher les 5 premiéres lignes des trois tableaux `TableauLycee`, `TableauSpecialite` et `TableauCollege`.

+ Affichage de `TableauLycee`

+ Affichage de `TableauSpecialite`

+ Affichage de `TableauCollege`

# Exercice 3
Faites une fonction `ListeChamps(tableau)` qui prend une liste de dictionnaires en paramétre et renvoie la liste des champs. Tester sur `TableauLycee`, `TableauSpecialite` et `TableauCollege`

Exemple:
```python
>>>ListeChamps([{'Nom': 'pie', 'couleur1': 'noire'},
                {'Nom': 'aigle', 'couleur1': 'brun'},
                {'Nom': 'chouette', 'couleur1': 'brun'}])
['Nom','couleur1']

# Exercice 4
Trier le tableau `TableauLycee` dans un tableau `TableauLyceeTrie` par ordre croissant d'année de naissance. Afficher le tableau trié.

# exercice 5

1. Faire la réunion des tableaux `TableauLycee` et `TableauCollege` dans un tableau nommé `TableauLyceeCollege`

2. Enregistrer le `TableauLyceeCollege` dans un fichier `csv` nommé `TableauLyceeCollege.csv`

# Exercice 6
Créer un tableau `Generation2000` qui contient les personnes des tableaux `TableauLycee` et `TableauCollege` nés aprés l'année 2000 inclus. Afficher le.

# Exercice 7
Créer un tableau `LyceeCollege2000` qui contient les personnes des tableaux `TableauLycee` et `TableauCollege` nés aprés l'année 2000 inclus et qui contient un champ `Etablissement` indiquant si la personne est au `lycee` ou au `college`. Afficher le. 

!!! warning Ne mettez pas d'accent pour éviter les problèmes d'encodage. 
!!!

# Exercice 8

Faire la fusion des tableaux `TableauLycee` et `TableauSpecialite` dans un tableau `TableauLyceeSpecialite`de telle maniére que chaque ligne du tableau contienne un prénom associé à son année de naissance et sa spécialité. Afficher les 5 premières lignes du tableau.

# Exercice 9

Ecrire la fonction `memeDateAnniv(tableauPersonne)`:

+ Le paramétre `tableauPersonne` est une table du même type que   `TableauLycee` et `TableauCollege`. 
+ la fonction `memeDateAnniv(tableauPersonne)` compte et renvoie le nombre de couple de personnes distinctes (qui n'ont pas le même prénom) qui ont la même date d'anniversaire (même jour et même mois, l'année peut etre differente). 

Pour tester la fonction  `memeDateAnniv(tableauPersonne)`, on importe la fonction `TableauNomDate(n)` qui génère aléatoirement une table de $n$ personnes avec un prénom et une date de naissance.

Tester de nombreuses fois avec un tableau de 35 personnes. Que remarquez vous ?

In [ ]:
from creationFichierVariable import TableauNomDate

# Exercice 10

Faire 100 tests avec des tableaux de 35 personnes. En déduire une statistique approximative que dans un groupe de 35 personnes, il y ait au moins un couple de personnes qui possédent la même date d'anniversaire (même jour et même mois, l'année peut etre differente)